/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #bbbbbb;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

/* GENERAL */

body {
  background: radial-gradient(ellipse at center, rgb(6, 1, 51), rgb(0, 0, 0));
}

section {
  max-width: 1200px;
  padding: 2rem;
  margin: 0 auto;
}

section > h2 {
  display: inline-block;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
  color: #1199b1;
}

a {
  color: #1199b1;
  text-decoration: none;
}

header {
  background-color: #00000000;
  width: 100%;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  
}


/* SIDEBAR Y NAVBAR */

header > label{
  position: fixed;
  top: 4px;
  z-index: 2100;
  display: none;
  padding: 0.8rem;
  font-size: 1rem;
  cursor: pointer;
}
header > label:active {
  transform: scale(0.95);
  opacity: 0.7;
}
header > input:checked + label + nav {
  left: 0;
}

header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px;
}
header > nav > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

header > nav > div > h2 {
  display: none;
}

header > nav > ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}
header > nav > ul > li {
  display: flex;
  place-content: center;
  width: 120px;
  border-radius: 20px;
  transition: transform 0.1s ease, background 0.3s ease;
}

header > nav > ul > li:hover {
  background: linear-gradient(to top, rgb(11, 3, 88), rgb(0, 0, 0));
}

header > nav > ul > li:active {
  transform: scale(0.96);
}

header > nav > ul > li:hover > a {
  font-weight: 900;
}


/* 1ST SECTION // HERO */

section:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 550px;
  width: 100%;
  margin-top: 50px;
  padding: 10px 10px;
}

section:first-of-type > div{
  display: flex;
  place-content: center;
}
section:first-of-type > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  color: #1199b1;
}


/* 1ST SECTION // 1ST ARTICLE // IMAGEN HERO */

section:first-of-type > div > article:first-of-type {
  position: relative;
}

section:first-of-type > div > article:first-of-type > img{
  max-height: 400px;
  width: 100%;
  border-radius: 50px;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  transition: transform 1s ease, box-shadow 0.3s ease;
}

section:first-of-type > div > article:first-of-type > img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(15, 23, 42, 0.5);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.5));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.5));
  transition: transform 1s ease, box-shadow 0.3s ease;
}

section:first-of-type > div > article:first-of-type > div {
  position: absolute;
  bottom: 70px;
  right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
  padding: 4px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  color: white;
  transform: translateY(20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
  pointer-events: none;
}

section:first-of-type > div > article:first-of-type > div > p {
  font-size: 1.5em;
}

section:first-of-type > div > article:first-of-type:hover > div {
  opacity: 1;
  transform: translateY(0);
}


/* 1ST SECTION // 2ND ARTICLE // TEXTO HERO */

section:first-of-type > div > article:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  overflow: visible;
  color: #bbbbbb;
  width: 60%;
  margin-top: 3em;
}

section:first-of-type > div > article:nth-of-type(2) > p {
  font-size: 2rem;
  width: 700px;
}

section:first-of-type > div > article:nth-of-type(2) > p:first-of-type {
  text-indent: -3em;
  margin-top: 1em;
  font-size: 2.5rem;
}

section:first-of-type > div > article:nth-of-type(2) > p:nth-of-type(2) {
  text-indent: -2em;
}

section:first-of-type > div > article:nth-of-type(2) > div {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 24px;
  width: 100%;
  margin-top: 80px;
  padding-right:30px;
}

section:first-of-type > div > article:nth-of-type(2) > div > a > img {
  width: 30px;
  height: 30px;
  padding: 6px;
  border-radius: 20%;
  background-color: #bbbbbb;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
section:first-of-type > div > article:nth-of-type(2) > div > a:hover > img {
  transform: scale(1.1);
  box-shadow: 0 1px 10px #1199b1;
  background: #1199b1;
}

/* 2ND SECTION // SOBRE MÃ */

section:nth-of-type(2) {
  gap: 50px;
  display: flex;
  place-content: center;
  flex-direction: column;
}

section:nth-of-type(2) > h2 {
  margin-bottom: 0rem;
  width: 100%;
  text-align: start;
}

section:nth-of-type(2) > article{
  font-size: 1.5rem;
  color: #bbbbbb;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 1px 20px;
  line-height: 50px;
}

section:nth-of-type(2) > article > p {
  display: flex;
  text-wrap: balance;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}

section:nth-of-type(2) > article > span {
  height: 100px;
  width: 60px;
  display: flex;
  place-content:center;
  align-items: center;
}

section:nth-of-type(2) > article > span > i.fa, i.bi {
  font-size: 40px;
}

/* 3RD SECTION // PROYECTOS */

section:nth-of-type(3) > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
}

section:nth-of-type(3) > div > article {
  background: #1a1c22;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

section:nth-of-type(3) > div > article > div > h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #00ffff;
}

section:nth-of-type(3) > div > article > img{
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.24);
}

section:nth-of-type(3) > div > article > div{
  padding: 1rem;
}

section:nth-of-type(3) > div > article:hover {
  transform: scale(1.02);
}

section:nth-of-type(3) > div > article > div > p {
  color: #e0e0e0;
  font-size: 1.1rem;
  margin-bottom: 0.75rem;
  line-height: 1.4;
}

section:nth-of-type(3) > div > article > div > a {
  color: #00ffc6;
  text-decoration: none;
  font-weight: bold;
}

section:nth-of-type(3) > div > article > div > a:hover {
  text-decoration: underline;
}


/* 4TH SECTION // HABILIDADES */

section:nth-of-type(4) > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
}

section:nth-of-type(4) > div > article {
  background: #1a1c22;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

section:nth-of-type(4) > div > article > h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #00ffff;
}

section:nth-of-type(4) > div > article > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

section:nth-of-type(4) > div > article > ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  text-align: center;
}

section:nth-of-type(4) > div > article > ul > li > img {
  width: 40px;
  height: 40px;
  margin-bottom: 0.5rem;
}

section:nth-of-type(4) > div > article > ul > li > span {
  font-size: 0.75rem;
  font-weight: 900;
  color: #ccc;
}


/* 5TH SECTION // FORMULARIO */
section:nth-of-type(5) > form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin: 0 auto;
}

section:nth-of-type(5) > form > input, textarea {
  padding: 0.75rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  background-color: #1b2430;
}

section:nth-of-type(5) > form > button {
  background-color: #38bdf8;
  color: #0f172a;
  border: none;
  padding: 0.5rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.2rem;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 1rem;
  background-color: #00000000;
  font-size: 0.9rem;
}

@media (max-width: 820px) {

  /* SIDEBAR */

  header > label {
    display: block;
  }

  header > label > img {
    width: 32px;
    height: 32px;
  }

  header > nav > div > h2 {
    display: flex;
  }

  header > nav {
    position: fixed;
    top: 0;
    left: -80%;
    width: 40%;
    max-width: 250px;
    height: 100vh;
    background-color: #000000;
    border-radius: 10px;
    z-index: 1000;
    padding: 1rem 1rem;
    transition: left 0.3s ease;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
  }

  header > nav > ul {
    flex-direction: column;
    gap: 1rem;
    padding: 10px 10px;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 10px;
    width: 100%;
    align-items: center;
    text-align: center;
    border-top: 1px solid white;
  }

  header > nav > ul > li {
    width: 100%;
    align-items: center;
  }

  header > nav > ul > li > a {
    display: flex;
    align-items: center;
    font-size: 17px;
    color: #e2e8f0;
    text-decoration: none;
    gap: 20px;
    width: 90%;
  }

  header > nav > ul > li > a > i {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    place-content: center;
  }

  header > nav:not {
    display: none;
  }

  header > nav > div {
    margin-left: 20px;
  }

  header > nav > div > img, h1{ 
    display: none;
  }


  /* GENERAL */

  section {
    padding: 2rem 3rem;
  }


  /* 1ST SECTION */

  section:first-of-type {
    height: auto;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
    gap: 0px;
  }

  section:first-of-type > h2 {
    margin-top: 20px;
    font-size: 4.5vw;
  }

  section:first-of-type > div{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }


  /* 1ST SECTION // 1ST ARTICLE */

  section:first-of-type > div > article:first-of-type {
    position: relative;
    width: 90%;
  }

  section:first-of-type > div > article:first-of-type > img {
    width: 300px;
  }

  section:first-of-type > div > article:first-of-type > div {
    position: absolute;
    left: 25vw;
    bottom: 40px;
    font-size: 1.5em;
    width: 40%;
  }

  section:first-of-type > div > article:first-of-type > div > p{
    font-size: 0.7em;
  }


  /* 1ST SECTION // 2ND ARTICLE */

  section:first-of-type > div > article:nth-of-type(2) {
    align-items: center;
    display: flex;
    width: 90%;
  }

  section:first-of-type > div > article:nth-of-type(2) > p {
    font-size: 1.3rem;
    width: 100%;
  }

  section:first-of-type > div > article:nth-of-type(2) > p:first-of-type {
    text-indent: 0em;
    margin-top: 0em;
  }

  section:first-of-type > div > article:nth-of-type(2) > p:nth-of-type(2) {
    text-indent: 0em;
  }

  section:first-of-type > div > article:nth-of-type(2) > div {
    bottom: 1px;
    right: 1px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-right: 0;
    width: 200px;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 1px;
  }

  section:first-of-type > div > article:nth-of-type(2) > div > a > img {
    width: 30px;
    height: 30px;
  }

  /* 2ND SECTION */

  section:nth-of-type(2) > article {
    height: 250px;
    gap: 0.5rem;
    display: block;
    align-items: start;
    justify-content: start;
    place-content: start;
    text-align: start;
  }

  section:nth-of-type(2) > article:nth-of-type(2) {
    height: 200px;
  }

  section:nth-of-type(2) > article:nth-of-type(3) {
    height: 150px;
  }

  section:nth-of-type(2) > article > span:first-of-type {
     float: left;
     margin-right: 10px;
  }

  section:nth-of-type(2) > article > p {
    display: block;
    align-items: start;
    text-align: justify;
    text-wrap: balance;
    margin: 0;
    font-size: 20px;
  }

  section:nth-of-type(2) > article > span:nth-of-type(2) {
    display: none;
  }

  /* FOOTER */

  footer {
    font-size: 0.8rem;
  } 
}

@media (min-width: 820px) and (max-width: 1024px) {

  /* HEADER */

  header > nav > ul {
    gap: 0.5rem;
    font-size: 1.1em;
  }

  header > nav > ul > li {
    display: flex;
    place-content: center;
    width: 120px;
    border-radius: 20px;
    transition: transform 0.1s ease, background 0.3s ease;
  }

  header > nav > ul > li:hover {
    background: linear-gradient(to top, rgb(11, 3, 88), rgb(0, 0, 0));
  }

  header > nav > ul > li:active {
    transform: scale(0.96);
  }


  /* 1ST SECTION */

  section:first-of-type {
    padding: 2rem 1rem;
    height: auto;
  }

  section:first-of-type > div > article:nth-of-type(2) {
    width: 50%;
  }

  section:first-of-type > div > article:nth-of-type(2) > p {
    font-size: 2.5vw;
  }

  section:first-of-type > div > article:nth-of-type(2) > p:first-of-type {
    font-size: 4vw;
  }


  /* 2ND SECTION */

  section:nth-of-type(2) > article{
    height: 200px;
  }

  section:nth-of-type(2) > article > p {
    height: 200px;
  }
}

@media (min-width: 821px) {
  header > nav > ul > li > a > i.fas {
    display: none;
  }

}

