/* ROOT */
:root {
  --bg-primary-color: #000;
  --bg-secondary-color: #0a0347;
  --text-primary-color: #bbbbbb;
  --text-secondary-color: #1199b1;
  --bg-tertiary-color: #1a1c22;
  --accent-color: #1199b1;
}

/* RESET */
* {
  color: var(--text-primary-color);
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-style: italic;
  font-weight: 400;
  padding: 0;
  margin: 0;  
}

/* TÍTULOS OCULTOS */
.sr-only {
  clip: rect(0, 0, 0, 0);
  position: absolute;
  overflow: hidden;
}

/* GENERAL */
body {
  background: radial-gradient(ellipse at center, var(--bg-secondary-color), var(--bg-primary-color));
  padding: 1rem 0rem;
}

main {
  flex-direction: column;
  display: flex;
}

section {
  margin-bottom: 1rem;
  padding: 1px 40px;
  margin: 0 auto;
  width: 95vw;
  max-width: 1300px;
}

section > h2 {
  color: var(--text-secondary-color);
  padding: 20px 0px;
  font-size: 1.5rem;
  font-weight: 700;
  width: 100%;
  text-wrap: wrap;
}

/* SIDEBAR Y NAVBAR */
h1 > span {
  transition: color 1.5s ease;
}

h1 > span > span {
  display: inline-block;
  max-width: 0;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: bottom;
  transition: max-width 1.5s ease, color 1.5s ease;
}

h1 > span:hover {
  color: #860303;
}

h1 > span:hover > span {
  max-width: 5ch;
  color: #860303;
}


header {
  position: relative;
  display: flex;
}

header >  h1 {
  font-size: 1.7rem;
  color: var(--text-secondary-color);
  font-weight: 700;
  display: flex;
  align-items: center;
  margin: 0;
  width: 100%;
  justify-content: center;
  padding: 0px 10px 0px 0px;
}

header > h1 > span {
  display: flex;
  align-items: center;
  color: var(--text-secondary-color);
  font-weight: 700;
}


header > h1 > span > span {
  font-size: 1.7rem;
  color: var(--text-secondary-color);
  font-weight: 700;
}

header > label{
  position: fixed;
  cursor: pointer;
  z-index: 2100;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
}

header > label > img {
  width: 30px;
  height: 30px;
}

header > label:active {
  transform: scale(0.95);
  opacity: 0.7;
}

header > input:checked ~ nav {
  left: 0;
}

header > nav {  
  background-color: #000000da;
  transition: left 0.3s ease;
  flex-direction: column;
  position: fixed;
  display: flex;
  border-radius: 10px;
  max-width: 50vw;
  height: 100vh;
  z-index: 1000;
  padding: 1rem;
  left: -80%;
  width: 50%;
  gap: 10px;
  top: 0;
}

header > nav > ul {
  border-top: 1px solid white;
  flex-direction: column;
  list-style: none;
  display: flex;
  margin-top: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  gap: 1rem;
}

header > nav > ul > li {
  width: 100%;
}

header > nav > ul > li:hover {
  background: linear-gradient(
  to top,
  var(--bg-secondary-color) 10%,
  var(--bg-primary-color) 90%
);
  border-radius: 10px;
  color: var(--text-secondary-color);
}

header > nav > ul > li > a {
  color: var(--text-primary-color);
  text-decoration: none;
  display: flex;
  font-size: 17px;
  width: 100%;
  gap: 10px;
  font-weight: 500;
  padding: 0rem 1rem;
}

header > nav > ul > li > a:hover {
  color: var(--text-secondary-color);
}

header > nav > ul > li > a > i {
  display: flex;
  height: 25px;
  width: 25px;
}

header > nav > div {
  margin-left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

/* 1ST SECTION // HERO */
section:first-of-type {
  flex-direction: column;
  align-items: center;
  text-align: center;
  display: flex;
  height: 900px;
  width: 100%;  
}

section:first-of-type > h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-decoration: none;
  text-wrap: wrap;
}

/* 1ST SECTION // 1ST ARTICLE // IMAGEN HERO */
section:first-of-type > div > article:first-of-type {
  position: relative;
  margin: 0rem 0rem 1.5rem 0rem;
}

section:first-of-type > div > article:first-of-type > img{
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  transition: transform 1s ease, box-shadow 0.3s ease;
  border-radius: 50px;
  width: 80vw;
  max-width: 500px;
}

section:first-of-type > div > article:first-of-type > img:hover {
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.5));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.5));
  transition: transform 1s ease, box-shadow 0.3s ease;
  transform: scale(1.05);
}

section:first-of-type > div > article:first-of-type > div {
  transition: opacity 0.4s ease, transform 0.4s ease;
  background-color: rgba(0, 0, 0, 0.6);
  transform: translateY(20px);
  justify-content: center;
  pointer-events: none;
  align-items: center;
  text-align: center;
  position: absolute;
  display: flex;
  border-radius: 20px;
  padding: 4px;
  bottom: 30px;
  right: 20%;
  width: 55%;
  opacity: 0;
}

section:first-of-type > div > article:first-of-type > div > p {
  font-size: 1.4em;
  font-weight: 800;
}

section:first-of-type > div > article:first-of-type:hover > div {
  transform: translateY(0);
  opacity: 1;
}

/* 1ST SECTION // 2ND ARTICLE // TEXTO HERO */
section:first-of-type > div > article:nth-of-type(2) {
  flex-direction: column;
  justify-content: center;
  overflow: visible;
  display: flex;
  width: 100%;
  gap: 20px;
}

section:first-of-type > div > article:nth-of-type(2) > p {
  color: var(--text-primary-color);
  text-align: end;
  font-size: clamp(1.2rem, 2.5vw, 1.9rem);
  line-height: 30px;  
}

section:first-of-type > div > article:nth-of-type(2) > p:nth-of-type(2) {
  font-size: clamp(1.6rem, 2vw, 4rem);
  text-align: start;
}

section:first-of-type > div > article:nth-of-type(2) > p:nth-of-type(1) {
  font-size: clamp(2rem, 3vw, 9rem);
  text-align: center;
}

section:first-of-type > div > article:nth-of-type(2) > p:nth-of-type(3) {
  font-size: clamp(1.2rem, 2vw, 4rem);
  width: 90%;
  margin-right: 0 auto;
  align-self: end;
  line-height: 45px;
}


section:first-of-type > div > article:nth-of-type(2) > div {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 15px;
  width: 100%;
  gap: 30px;
}

section:first-of-type > div > article:nth-of-type(2) > div > a > img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: var(--text-primary-color);
  border-radius: 20%;
  padding: 6px;
  height: 30px;
  width: 30px;  
}

section:first-of-type > div > article:nth-of-type(2) > div > a:hover > img {
  box-shadow: 0 1px 10px var(--accent-color);
  background: var(--accent-color);
  transform: scale(1.1);
}

/* 2ND SECTION // SOBRE MÍ */
section:nth-of-type(2) {  
  flex-direction: column;
  place-content: center;
  display: flex;
  width: 100%;
}

section:nth-of-type(2) > h2 {
  text-align: start;
  width: 100%;
}

section:nth-of-type(2) > article{
  color: var(--text-primary-color);
  overflow: hidden;
  height: auto;
  margin-bottom: 25px;
  padding: 1px 10px;
  line-height: 1.6;
}

section:nth-of-type(2) > article:nth-of-type(3) {
  margin-bottom: 0px;
}

section:nth-of-type(2) > article > span {
  justify-content: center;
  align-items: center;
  display: flex;
  float: left;
  margin-right: 10px;
  height: 30px;
  width: 30px;  
}

section:nth-of-type(2) > article > span > i {
  font-size: 1.4rem;
}

section:nth-of-type(2) > article > p {
  text-align: justify;
  text-wrap: balance;
  font-size: 1.2rem;
}

/* 3RD SECTION // PROYECTOS */
section:nth-of-type(3) > div {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  display: grid;
  gap: 2rem;
}

section:nth-of-type(3) > div > article {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  background: var(--bg-tertiary-color);
  border-radius: 12px;
  padding: 1.5rem;
}

section:nth-of-type(3) > div > article > div > div {
  justify-content: space-between;
  align-items: center;
  display: flex;  
}

section:nth-of-type(3) > div > article > div > div > h3 {
  color: #00ffff;
  font-size: 1.2rem;
}

section:nth-of-type(3) > div > article > div > div > a {
  color: #00ffc6;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

section:nth-of-type(3) > div > article > div > div > a:hover {
  text-decoration: underline;
}

section:nth-of-type(3) > div > article > img{
  border: 2px solid rgba(255, 255, 255, 0.24);
  object-fit: cover;
  border-radius: 12px;
  height: 150px;
  width: 100%;
}

section:nth-of-type(3) > div > article > div{
  flex-direction: column;
  display: flex;
  padding: 1rem 0rem;
  gap: 10px;
}

section:nth-of-type(3) > div > article:hover {
  transform: scale(1.02);
}

section:nth-of-type(3) > div > article > div > p {
  color: #e0e0e0;
  text-align: justify;
  margin-bottom: 0.75rem;
  font-size: 1.15rem;
  line-height: 1.4;
}

/* 4TH SECTION // HABILIDADES */
section:nth-of-type(4) > div {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  display: grid;
  gap: 2rem;
}

section:nth-of-type(4) > div > article {
  background: var(--bg-tertiary-color);
  transition: transform 0.3s ease;
  border-radius: 12px;
  padding: 1.5rem;
}

section:nth-of-type(4) > div > article > h3 {
  color: #00ffff;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

section:nth-of-type(4) > div > article > ul {
  justify-content: start;
  flex-wrap: wrap;
  display: flex;
  gap: 1rem;
}

section:nth-of-type(4) > div > article > ul > li {
  flex-direction: column;
  align-items: center;
  text-align: center;
  display: flex;
  
}

section:nth-of-type(4) > div > article > ul > li > img {
  margin-bottom: 0.5rem;
  height: 40px;
  width: 40px;
}

section:nth-of-type(4) > div > article > ul > li > span {
  font-size: 0.75rem;
  font-weight: 900;
}

/* 5TH SECTION // FORMULARIO */
section:nth-of-type(5) > form {
  flex-direction: column;
  margin: 0 auto;
  display: flex;
  width: 100%;
  gap: 1rem;  
}

section:nth-of-type(5) > form > input, textarea {
  background-color: var(--bg-tertiary-color);
  color: var(--bg-primary-color);
  border: none;
  border-radius: 6px;
  padding: 0.75rem;
  font-size: 1rem;
}

section:nth-of-type(5) > form > button {
  background-color: var(--accent-color);
  color: var(--bg-primary-color);
  font-weight: 900;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  font-size: 1.2rem;
  padding: 0.5rem;
}

/* FOOTER */
footer {
  background-color: #00000000;
  text-align: center;
  font-size: 0.9rem;
  padding: 1rem;
  font-weight: 500;
}

/* MEDIA QUERY TABLETS */
@media (min-width: 768px) and (max-width: 1024px) {
  /* GENERAL */
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  section {
    width: 95vw;
    max-width: 1300px;
  }
  /* FIRST SECTION HERO */
  section:first-of-type {
    height: 950px;
  }

  section:first-of-type > h2 {
    margin-bottom: 0px;
  }

  section:first-of-type > h2 {
    font-size: clamp(1.5rem, 2vw, 2.5rem);
  }

  section:first-of-type > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section:first-of-type > div > article:first-of-type {
    margin: 0rem 0rem 2rem 0rem;
  }

  section:first-of-type > div > article:first-of-type > div {
    right: 80px;
  }

  section:first-of-type > div > article:first-of-type > div > p {
    font-size: 1.6em;
  }

  section:first-of-type > div > article:nth-of-type(2) {
    width: 90%;
    display: flex; 
    flex-direction: column;
    gap: 30px;
  }

  section:first-of-type > div > article:nth-of-type(2) > p:nth-of-type(2) {
    font-size: clamp(1.9rem, 2vw, 4rem);
    text-align: start;
  }

  section:first-of-type > div > article:nth-of-type(2) > p:nth-of-type(1) {
    font-size: clamp(3rem, 3vw, 9rem);
    text-align: center;
  }

  section:first-of-type > div > article:nth-of-type(2) > p:nth-of-type(3) {
    font-size: clamp(1.6rem, 2vw, 4rem);
    width: 80%;
    margin-right: 0 auto;
    align-self: end;
    line-height: 45px;
  }
  
  section:first-of-type > div > article:nth-of-type(2) > div {
    margin-top: 0px;
  }

  section:first-of-type > div > article:nth-of-type(2) > div > a > img {
    height: 40px;
    width: 40px;  
  }
}

/* MEDIA QUERY ORDENADOR */
@media (min-width: 1024px) {
  /* GENERAL */
  body {
    padding: 0;
  }

  main {
    margin-top: 2rem; 
  }

  section {
    margin: 3rem auto;
    scroll-margin-top: 50px;
    width: 95vw;
  }

  section > h2 {
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-color: var(--text-secondary-color);
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
  }
  
  /* SIDEBAR Y NAVBAR */
  header {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 2000;
    background-color: var(--bg-primary-color);
  }

  header > label:active {
    transform: scale(1);
    opacity: 1;
  }

  header > input,
  header > label {
    display: none;
  }

  header > label{
    position: fixed;
    cursor: pointer;
    z-index: 2100;
    top: 7px;
    left: 10px;
    display: flex;
    align-items: center;
  }

  header > label > img {
    width: 35px;
    height: 35px;
  }

  header > h1 {
    width: auto;
    margin-left: 30px;
    position: static;
  }

  header > nav {
    position: static;
    left: auto;
    display: flex;
    height: auto;
    background-color: transparent;
    padding: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    width: 80%;
    min-width: 700px;
  }

  header > nav > div {
    display: none;
  }

  header > nav > ul {
    flex-direction: row;
    border-top: none;
    margin: 0;
    padding: 0;
    gap: 1vw;
    display: flex;
  }

  header > nav > ul > li > a {
    font-size: 1.3rem;
    color: var(--text-primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header > nav > ul > li > a > i.fas {
    display: none;
  }

  /* FIRST SECTION HERO */
  section:first-of-type {
    height: 600px;
    scroll-margin-top: 100px;
  }

  section:first-of-type > h2 {
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    margin-bottom: 20px;
    text-decoration: none;
    text-wrap: wrap;
  }

  section:first-of-type > div {
    display: flex;
  }

  section:first-of-type > div > article:first-of-type > div {
    transition: opacity 0.4s ease, transform 0.4s ease;
    background-color: rgba(0, 0, 0, 0.6);
    transform: translateY(20px);
    justify-content: center;
    pointer-events: none;
    align-items: center;
    text-align: center;
    position: absolute;
    display: flex;
    border-radius: 20px;
    padding: 4px;
    bottom: 30px;
    right: 80px;
    width: 60%;
    opacity: 0;
  }

  section:first-of-type > div > article:first-of-type > div > p {
    font-weight: 800;
    font-size: 1.7em;
  }

  section:first-of-type > div > article:first-of-type:hover > div {
    transform: translateY(0);
    opacity: 1;
  }

  section:first-of-type > div > article:nth-of-type(2) {
    flex-direction: column;
    justify-content: space-between;
    overflow: visible;
    display: flex;
    width: 100%;
    height: 480px;
    padding: 50px 1px 20px 1px;
  }

  section:first-of-type > div > article:nth-of-type(2) > p {
    color: var(--text-primary-color);
    font-size: clamp(2.5rem, 3vw, 3rem);
    line-height: 30px;
  }

  section:first-of-type > div > article:nth-of-type(2) > p:nth-of-type(2) {
    font-size: clamp(2rem, 2.5vw, 2.5rem);
    text-align: start;
    text-indent: -120px;
    
  }

  section:first-of-type > div > article:nth-of-type(2) > p:nth-of-type(1) {
    font-size: clamp(2.5rem, 3vw, 3rem);
    text-align: start;
    text-indent: -150px;
  }

  section:first-of-type > div > article:nth-of-type(2) > p:nth-of-type(3) {
    font-size: clamp(1.5rem, 2vw, 2rem);
    margin-right: 0 auto;
    line-height: 45px;
    text-align: start;
    width: 100%;
    text-indent: -60px;
  }

  section:first-of-type > div > article:nth-of-type(2) > div {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 15px;
    width: 100%;
    gap: 40px;
  }

  section:first-of-type > div > article:nth-of-type(2) > div > a > img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: var(--text-primary-color);
    border-radius: 20%;
    padding: 6px;
    height: 40px;
    width: 40px;  
  }
  section:first-of-type > div > article:nth-of-type(2) > div > a:hover > img {
    box-shadow: 0 1px 10px var(--accent-color);
    background: var(--accent-color);
    transform: scale(1.1);
  }

  /* SECOND SECTION SOBRE-MI */
  section:nth-of-type(2) > article > p {
    text-align: justify;
    text-wrap: wrap;
    font-size: 1.5rem;
    width: 90%;
  }

  section:nth-of-type(2) > article{
    display: flex;
    align-items: center;
  }

  section:nth-of-type(2) > article > span {
    height: 60px;
    width: 50px;  
  }

  section:nth-of-type(2) > article > span > i {
    font-size: 1.8rem;
  }
}

/* MEDIA QUERY ORDENADOR PANTALLA ANCHA */
@media (min-width: 1024px) and (max-width: 1200px) {
  section:first-of-type > div {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  header > h1 {
    position: fixed;
  }
}
